{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur le site *** CLEAN NETTOYAGE ! ***
{% endblock %}

{% block content %}

 <div class="container">
<br/><br/>

<h1>
UN SERVICE DE QUALITÉ !

</h1>
<br/><br/>

<h3>
Un SUIVI RÉGULIER !
</h3>
<br/><br/>

<h5>
Prestations  assuré  en matière exigences d’hygiène !

</h5>
<br/><br/>

<h6>
Recrutement de personnel qualifié !

</h6>

    </div>
<br/><br/>
{% block footer %}
<div>
<h1>
Contactez nous au : 00 800 988 800.
</h1>
Cliquer ici pour plus de informations !
<lu>
<li>    Entretien d’espaces verts </li>
<li>nettoyage de vitre </li>
<li>nettoyage  industriel </li>
<li>nettoyage de bureaux </li>
<li>nettoyage  d'appartements </li>

    </lu>
</div>
{% endblock %}


{% endblock %}
